{% extends "base.html" %}
{% block content %}
  <div class=" container-fluid">
    <div class="row m-2">
        <div class="col-2 p-0 position-relative navs ">
            <h1>logo</h1>
            <ul class="m-0 p-0 position-absolute elements translate-middle-y">
                <li class="{% if request.resolver_match.url_name == 'home'%}active{%endif%}"><i class="fa-solid fa-house m-2 "></i>Home</li>
                <li><i class="fa-solid fa-money-check-dollar m-2 "></i>Transaction History</li>
                <li><i class="fa-solid fa-piggy-bank m-2"></i>Savings & Goals</li>
                <li><i class="fa-solid fa-circle-info m-2"></i>About</li>
            </ul>
            <a href="" class="position-absolute bottom-0">email</a>
        </div>
        <div class="col-7 p-0">
            <div class="desc">
                <h1>Welcome {{user.username}}</h1>
                <p>Ascess and manage your account efficiently</p>
                <div class="balance">
                    <div class="donought">
                        <canvas id="myChart"></canvas>
                    </div>
                    <div class="amount">
                        <p class="lett">Total current balance</p>
                        <p class="mon">300$</p>
                    </div>
                   
                </div>
                <div class="transaction">
                    <p>Recent Transaction</p>
                </div>

            </div>
            

        </div>
        <div class="col-3 p-0">
            <h1>profile</h1>
            
        </div>
    </div>
  </div>
{% endblock content %}